*{margin:0;padding:0;border:none;}

body{
margin:0.5em;
font-family:Times New Roman,tahoma,arial,sans-serif;
background-color: #FFFFFF;
/*background: url('../images/bgp.jpg');*/
}
table.header{
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	width:1100px;
	height:50px;
	margin-left:auto; 
	margin-right:auto;
	border-style: groove;
	border-color: darkred darkred darkred darkred;
	border-collapse: separate;
	background-color: #FFFFF6;
	/* background: url('../images/qso_form.jpg'); */
	/* background: url('../images/cmb_sim.png'); */
}

table.footer{
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	width:1100px;
	height:5%;
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
	border-style: groove;
	border-color: darkred darkred darkred darkred;
	border-collapse: separate;
	background-color: #FFFFF6;
	color:black;	
}

a:link {color: blue; text-decoration: none; }
a:active {color: blue; text-decoration: none; }
a:visited {color: blue; text-decoration: none; }

#nav {
	height: 40px;
	width: 650px;
}

#nav ul {
	list-style: none;
	padding: 0 5px;
	margin: 0;
    float: right;
	height: 40px;
}

#nav ul li {
	float: left;
	display: block;
	padding:0;
	/*background: transparent url('../images/nav-left.png') no-repeat scroll top left;*/
    background-color: darkred; /*transparent url('../images/nav-left.png') no-repeat scroll top left;*/
	margin: 0px 2px;
}

#nav ul li.selected {
	background-color: crimson; /*transparent url('../images/nav-left.png') no-repeat scroll top left;*/
}

#nav ul li a {
	color: black;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 16px 22px 8px;
	text-decoration: none;
	font-family: 'Times New Roman';
	background: transparent url('../images/nav-right.png') no-repeat scroll top right;
}

#nav ul li a:hover {
	color: darkred;
}

#nav ul li.selected a, #nav ul li.selected a:hover {
	color: darkred;
	text-decoration: underline;
}

#nav ul li a.selected {
	color: #FFFFF6;
}

#nav ul li a.selected:hover {
	text-decoration: none;
}

